@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="container-fluid">
            @Body
        </div>
    </main>
</div>

<footer class="footer text-center py-3 mt-5">
    <div class="container">
        <span class="text-muted">MoneyTracker © @DateTime.Now.Year - Your Personal Budget Assistant</span>
    </div>
</footer>
